<!DOCTYPE html>
<html>
 
<head>
  <title>You are offline!</title>
  <meta charset="UTF-8">
 
  <style>
    body {
      padding: 50px;
      overflow-x:hidden;
      margin-top:13px;
      background-color: #c0deea;
      text-align: center;
    }
  </style>
</head>
 
<body >
    <div id="npat" style="font-family:Verdana, Geneva, Tahoma, sans-serif;user-select: none;font-size:135px;font-weight: 700;margin:0 auto;cursor: default;"><span style="color:#cb0a0a;user-select: none;padding: 1px">N</span><span style="color:#cb0a0a;font-size:13px;user-select: none;">ame</span><span style="color:#319833;user-select: none;padding: 1px">P</span><span style="color:#319833;font-size: 13px;user-select: none;">lace</span><span style="color:#8b8603;user-select: none;padding: 1px">A</span><span style="color:#8b8603;font-size: 13px;user-select: none;" >nimal</span><span style="color:#286090;user-select: none;padding: 1px">T</span><span style="color:#286090;user-select: none;font-size:13px" >hing</span></div>
    <!-- <img src="../images/logo_145X145_t.png" /> -->
    
  <div style="user-select: none;cursor: default;    font-size: 97px;
  margin-top: 222px;">You should try connecting to the internet!</div><br/>
</body>
 
</html>