
body {overflow:hidden;margin-top:11px;background-image:url('../images/paperbg.jpg');background-repeat: repeat}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .orientation{
        display:block;
        height:100%;
        width:100%;
        background-color: rgb(202, 213, 219);
        position: absolute;
        z-index: 5;
        top:0px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        font-size:large;
        margin:0 auto;
        text-align: center;
    }
  }
  @media (orientation: portrait) {
    .orientation{
        display:none
    }
}
.notify-badge{
    position: absolute;
    right:13px;
    top:-1px;
    background:#fff;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:green;
    padding:1px 2px 1px 2px;
    font-size:8px;
}
.badge{
    background-color: #ccc;
    font-size: 11px;
}
.alphabet{
    font-size: 23px;
    font-weight:bolder;
    transition: transform .2s;
    margin: 0 auto;
    padding: 3px;
}

.vibrate{
    animation: shake 0.5s; 
}

@keyframes shake {
    0% { 
        -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3); /* Standard syntax */
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .blinker {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #playersContainer{
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 319px;
    max-height: 319px;
  }
  #gamesContainer{
    overflow-y:scroll;
    overflow-x:hidden;
    min-height: 319px;
    max-height: 319px;
  }
  .green{
      color:green;
  }
  .red{
      color:red;
  }
  .orange{
      color:orange;
  }
  .brown{
      color: brown;
  }
  .blue{
      color:blue
  }
  .grey{
      color: darkgrey;
  }
  .blueBg{
      background-color: rgb(198, 223, 234);
  }
  label{
      letter-spacing: 3px
  }
  .formrowpadding{
      padding-top:13px
  }
  .p-t{
    padding-top: 10px;
  }
  h4{
      letter-spacing:2px;
      font-family:"Verdana, Geneva, Tahoma, sans-serif" 
  }
 